## E.1 Introduce python's re module

In [5]:
import re
import pandas as pd

In [2]:
re.search("flower", "field of flowers")

In [4]:
print(re.search('flower', 'Barney the Dinosaur'))

None

In [6]:
re.findall('flower', 'Picking flowers in the flower field')

['flower', 'flower']

## E.2 Metacharacters

In [29]:
sentence = "I went to the store and bought "\
            "5 apples, 4 oranges, and 15 plums."

In [15]:
sentence

'I went to the store and bought5 apples, 4 oranges, and 15 plums.'

In [16]:
re.findall('\d', sentence)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\gjdbs\AppData\Local\Temp\ipykernel_14984\3871098266.py:1: SyntaxWarning: invalid escape sequence '\d'
  re.findall('\d', sentence)

['5', '4', '1', '5']

In [18]:
re.findall(r'\d', sentence)

['5', '4', '1', '5']

In [20]:
print(re.findall(r'\D', sentence))

['I', ' ', 'w', 'e', 'n', 't', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 's', 't', 'o', 'r', 'e', ' ', 'a', 'n', 'd', ' ', 'b', 'o', 'u', 'g', 'h', 't', ' ', 'a', 'p', 'p', 'l', 'e', 's', ',', ' ', ' ', 'o', 'r', 'a', 'n', 'g', 'e', 's', ',', ' ', 'a', 'n', 'd', ' ', ' ', 'p', 'l', 'u', 'm', 's', '.']

In [21]:
print(re.findall(r'\w', sentence))

['I', 'w', 'e', 'n', 't', 't', 'o', 't', 'h', 'e', 's', 't', 'o', 'r', 'e', 'a', 'n', 'd', 'b', 'o', 'u', 'g', 'h', 't', '5', 'a', 'p', 'p', 'l', 'e', 's', '4', 'o', 'r', 'a', 'n', 'g', 'e', 's', 'a', 'n', 'd', '1', '5', 'p', 'l', 'u', 'm', 's']

In [22]:
print(re.findall(r'\W', sentence))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ',', ' ', ' ', ',', ' ', ' ', ' ', '.']

In [23]:
print(re.findall(r'\s', sentence))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [24]:
print(re.findall(r'\S', sentence))

['I', 'w', 'e', 'n', 't', 't', 'o', 't', 'h', 'e', 's', 't', 'o', 'r', 'e', 'a', 'n', 'd', 'b', 'o', 'u', 'g', 'h', 't', '5', 'a', 'p', 'p', 'l', 'e', 's', ',', '4', 'o', 'r', 'a', 'n', 'g', 'e', 's', ',', 'a', 'n', 'd', '1', '5', 'p', 'l', 'u', 'm', 's', '.']

In [25]:
print(re.findall(r't', sentence))

['t', 't', 't', 't', 't']

In [26]:
print(re.findall(r'to', sentence))

['to', 'to']

In [27]:
print(re.findall(r'\bt', sentence))

['t', 't']

In [30]:
print(re.findall(r't\b', sentence))

['t', 't']

In [31]:
print(re.findall(r'\Bt', sentence))

['t', 't', 't']

## E.3 Advanced search patterns

In [32]:
soda = 'coca cola.'
soda

'coca cola.'

In [34]:
print(re.findall(r'.', soda))

['c', 'o', 'c', 'a', ' ', 'c', 'o', 'l', 'a', '.']

In [35]:
print(re.findall(r'c.', soda))

['co', 'ca', 'co']

In [36]:
print(re.findall(r'\.', soda))

['.']

In [37]:
print(re.findall(r'co', soda))

['co', 'co']

In [38]:
print(re.findall(r'[co]', soda))

['c', 'o', 'c', 'c', 'o']

In [39]:
print(re.findall(r'[oc]', soda))

['c', 'o', 'c', 'c', 'o']

In [40]:
print(re.findall(r'[cdefghijkl]', soda))

['c', 'c', 'c', 'l']

In [42]:
print(re.findall(r'[c-l]', soda))

['c', 'c', 'c', 'l']

In [43]:
word = 'bookkeeper'
word

'bookkeeper'

In [44]:
print(re.findall(r'ee', word))

['ee']

In [46]:
print(re.findall(r'e{2}', word))

['ee']

In [47]:
print(re.findall(r'e{3}', word))

[]

In [48]:
print(re.findall(r'e{1,3}', word))

['ee', 'e']

In [49]:
transcription = 'I can be reached at 555-123-4567. '\
                'Look forward to talking to you soon.'

transcription

'I can be reached at 555-123-4567. Look forward to talking to you soon.'

In [52]:
print(re.findall(r'\d{3}-\d{3}-\d{4}', transcription))

['555-123-4567']

In [54]:
print(re.findall(r'\d+-\d+-\d+', transcription))

['555-123-4567']

## E.4 Regular expressions and Pandas

In [55]:
ice_cream = pd.read_csv("ice_cream.csv")
ice_cream.head()

,Brand,Flavor,Description
0,Ben and Jerry's,Salted Caramel Core,Sweet Cream Ice Cream with Blonde Brownies & a...
1,Ben and Jerry's,Netflix & Chilll'd™,Peanut Butter Ice Cream with Sweet & Salty Pre...
2,Ben and Jerry's,Chip Happens,A Cold Mess of Chocolate Ice Cream with Fudge ...
3,Ben and Jerry's,Cannoli,Mascarpone Ice Cream with Fudge-Covered Pastry...
4,Ben and Jerry's,Gimme S’more!™,Toasted Marshmallow Ice Cream with Chocolate C...

In [59]:
ice_cream["Description"].str.extract(r'(\bChocolate\s\w+)')

                    0
0                 NaN
1                 NaN
2       Chocolate Ice
3                 NaN
4    Chocolate Cookie
..                ...
236               NaN
237               NaN
238               NaN
239               NaN
240               NaN

[241 rows x 1 columns]

In [60]:
ice_cream["Description"].str.extract(r'(\bChocolate\s\w+)').dropna().head()

                   0
2      Chocolate Ice
4   Chocolate Cookie
8      Chocolate Ice
9      Chocolate Ice
13  Chocolate Cookie

In [61]:
ice_cream["Description"].str.extract(r'(\bChocolate\s\w+)').dropna().squeeze().head()

2        Chocolate Ice
4     Chocolate Cookie
8        Chocolate Ice
9        Chocolate Ice
13    Chocolate Cookie
Name: 0, dtype: object

In [62]:
chocolate_flavors = ice_cream["Description"].str.extract(r'(\bChocolate\s\w+)').dropna().squeeze()

In [63]:
chocolate_flavors

2          Chocolate Ice
4       Chocolate Cookie
8          Chocolate Ice
9          Chocolate Ice
13      Chocolate Cookie
15      Chocolate Cookie
16        Chocolate Chip
17         Chocolate Ice
18        Chocolate Malt
19         Chocolate Ice
27         Chocolate Ice
28        Chocolate Chip
29    Chocolate Sandwich
30      Chocolate Cookie
31    Chocolate Sandwich
32        Chocolate Mint
33         Chocolate Ice
36         Chocolate Ice
37         Chocolate Ice
41         Chocolate Ice
44         Chocolate Ice
49     Chocolate Cookies
50        Chocolate Chip
54     Chocolate Cookies
Name: 0, dtype: object

In [64]:
chocolate_flavors.str.split(r'\s')

2          [Chocolate, Ice]
4       [Chocolate, Cookie]
8          [Chocolate, Ice]
9          [Chocolate, Ice]
13      [Chocolate, Cookie]
15      [Chocolate, Cookie]
16        [Chocolate, Chip]
17         [Chocolate, Ice]
18        [Chocolate, Malt]
19         [Chocolate, Ice]
27         [Chocolate, Ice]
28        [Chocolate, Chip]
29    [Chocolate, Sandwich]
30      [Chocolate, Cookie]
31    [Chocolate, Sandwich]
32        [Chocolate, Mint]
33         [Chocolate, Ice]
36         [Chocolate, Ice]
37         [Chocolate, Ice]
41         [Chocolate, Ice]
44         [Chocolate, Ice]
49     [Chocolate, Cookies]
50        [Chocolate, Chip]
54     [Chocolate, Cookies]
Name: 0, dtype: object

In [66]:
chocolate_flavors.str.split(r'\s').str.get(1).head()

2        Ice
4     Cookie
8        Ice
9        Ice
13    Cookie
Name: 0, dtype: object

In [67]:
chocolate_flavors.str.split(r'\s').str.get(1).value_counts()

0
Ice         11
Cookie       4
Chip         3
Sandwich     2
Cookies      2
Malt         1
Mint         1
Name: count, dtype: int64