## 3.1 take the data set by using read_csv function

In [1]:
import pandas as pd

In [6]:
import numpy as np

In [2]:
pd.read_csv("pokemon.csv")

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [3]:
pd.read_csv("pokemon.csv", index_col = "Pokemon")

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

In [8]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon").squeeze()

In [9]:
pokemon

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [10]:
type(pokemon)

pandas.core.series.Series

In [11]:
pd.read_csv("google_stocks.csv")

            Date    Close
0     2004-08-19    49.98
1     2004-08-20    53.95
2     2004-08-23    54.50
3     2004-08-24    52.24
4     2004-08-25    52.80
...          ...      ...
3819  2019-10-21  1246.15
3820  2019-10-22  1242.80
3821  2019-10-23  1259.13
3822  2019-10-24  1260.99
3823  2019-10-25  1265.13

[3824 rows x 2 columns]

In [12]:
pd.read_csv("google_stocks.csv", parse_dates = ["Date"])

           Date    Close
0    2004-08-19    49.98
1    2004-08-20    53.95
2    2004-08-23    54.50
3    2004-08-24    52.24
4    2004-08-25    52.80
...         ...      ...
3819 2019-10-21  1246.15
3820 2019-10-22  1242.80
3821 2019-10-23  1259.13
3822 2019-10-24  1260.99
3823 2019-10-25  1265.13

[3824 rows x 2 columns]

In [13]:
pd.read_csv("google_stocks.csv", parse_dates = ["Date"], index_col = "Date").squeeze()

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

In [14]:
google = pd.read_csv("google_stocks.csv", parse_dates = ["Date"], index_col = "Date").squeeze()

In [15]:
pd.read_csv("revolutionary_war.csv").tail()

                         Battle  Start Date     State
227         Siege of Fort Henry   9/11/1782  Virginia
228  Grand Assault on Gibraltar   9/13/1782       NaN
229   Action of 18 October 1782  10/18/1782       NaN
230   Action of 6 December 1782   12/6/1782       NaN
231   Action of 22 January 1783   1/22/1783  Virginia

In [17]:
pd.read_csv("revolutionary_war.csv", 
            index_col = "Start Date", 
            parse_dates = ["Start Date"])

                                       Battle          State
Start Date
1774-09-01                       Powder Alarm  Massachusetts
1774-12-14  Storming of Fort William and Mary  New Hampshire
1775-04-19   Battles of Lexington and Concord  Massachusetts
1775-04-19                    Siege of Boston  Massachusetts
1775-04-20                 Gunpowder Incident       Virginia
...                                       ...            ...
1782-09-11                Siege of Fort Henry       Virginia
1782-09-13         Grand Assault on Gibraltar            NaN
1782-10-18          Action of 18 October 1782            NaN
1782-12-06          Action of 6 December 1782            NaN
1783-01-22          Action of 22 January 1783       Virginia

[232 rows x 2 columns]

In [18]:
pd.read_csv("revolutionary_war.csv", 
            index_col = "Start Date", 
            parse_dates = ["Start Date"],
            usecols = ["State", "Start Date"]
           ).squeeze()

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

In [19]:
battles = pd.read_csv("revolutionary_war.csv", 
            index_col = "Start Date", 
            parse_dates = ["Start Date"],
            usecols = ["State", "Start Date"]
           ).squeeze()

## 3.2 Series Alignment

In [20]:
google.sort_values()

Date
2004-09-03      49.82
2004-09-01      49.94
2004-08-19      49.98
2004-09-02      50.57
2004-09-07      50.60
               ...
2019-04-23    1264.55
2019-10-25    1265.13
2018-07-26    1268.33
2019-04-26    1272.18
2019-04-29    1287.58
Name: Close, Length: 3824, dtype: float64

In [22]:
pokemon.sort_values()

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

In [24]:
google.sort_values(ascending = False)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
               ...
2004-09-07      50.60
2004-09-02      50.57
2004-08-19      49.98
2004-09-01      49.94
2004-09-03      49.82
Name: Close, Length: 3824, dtype: float64

In [25]:
battles.sort_values()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

In [27]:
battles.sort_values(na_position = "first")

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

In [28]:
battles.dropna().sort_values()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

In [29]:
pokemon.sort_index()

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [31]:
battles.sort_index()

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [34]:
battles.sort_index(na_position = "first")

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

In [35]:
battles.sort_index(ascending = False)

Start Date
1783-01-22         Virginia
1782-12-06              NaN
1782-10-18              NaN
1782-09-13              NaN
1782-09-11         Virginia
                  ...
1774-09-01    Massachusetts
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [36]:
google.nlargest(n=5)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [37]:
google.nsmallest(n=5)

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
Name: Close, dtype: float64

## 3.3 Overwrite the Series with the inplace parameter

In [38]:
battles.head(3)

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
Name: State, dtype: object

In [39]:
battles.sort_values(inplace = True)

ValueError: This Series is a view of some other array, to sort in-place you must create a copy

In [40]:
battles = battles.sort_values()

In [41]:
battles

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

## 3.4 Calculate the value by using value_counts method

In [43]:
pokemon.head()

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

In [44]:
pokemon.value_counts()

Type
Normal              65
Water               61
Grass               38
Psychic             35
Fire                30
                    ..
Normal / Dragon      1
Psychic / Steel      1
Rock / Poison        1
Fighting / Ghost     1
Fire / Ghost         1
Name: count, Length: 159, dtype: int64

In [45]:
len(pokemon.value_counts())

159

In [46]:
pokemon.value_counts(ascending = True)

Type
Steel / Ground      1
Fire / Rock         1
Rock / Dark         1
Psychic / Grass     1
Fire / Steel        1
                   ..
Fire               30
Psychic            35
Grass              38
Water              61
Normal             65
Name: count, Length: 159, dtype: int64

In [47]:
pokemon.value_counts(normalize = True).head()

Type
Normal     0.080346
Water      0.075402
Grass      0.046972
Psychic    0.043263
Fire       0.037083
Name: proportion, dtype: float64

In [48]:
pokemon.value_counts(normalize = True) * 100

Type
Normal              8.034611
Water               7.540173
Grass               4.697157
Psychic             4.326329
Fire                3.708282
                      ...
Normal / Dragon     0.123609
Psychic / Steel     0.123609
Rock / Poison       0.123609
Fighting / Ghost    0.123609
Fire / Ghost        0.123609
Name: proportion, Length: 159, dtype: float64

In [49]:
(pokemon.value_counts(normalize = True) * 100).round(2)

Type
Normal              8.03
Water               7.54
Grass               4.70
Psychic             4.33
Fire                3.71
                    ...
Normal / Dragon     0.12
Psychic / Steel     0.12
Rock / Poison       0.12
Fighting / Ghost    0.12
Fire / Ghost        0.12
Name: proportion, Length: 159, dtype: float64

In [52]:
google.value_counts()

Close
307.10    3
237.04    3
194.27    3
288.92    3
290.41    3
         ..
49.82     1
50.60     1
58.91     1
52.47     1
53.55     1
Name: count, Length: 3696, dtype: int64

In [53]:
google.max()

1287.58

In [54]:
google.min()

49.82

In [56]:
buckets = [0, 200, 400, 600, 800, 1000, 1200, 1400]
google.value_counts(bins = buckets)

(200.0, 400.0]      1568
(-0.001, 200.0]      595
(400.0, 600.0]       575
(1000.0, 1200.0]     406
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [57]:
google.value_counts(bins = buckets).sort_index()

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [58]:
google.value_counts(bins = buckets, sort = False)

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [59]:
google.value_counts(bins = 6, sort = False)

(48.581, 256.113]      1204
(256.113, 462.407]     1104
(462.407, 668.7]        507
(668.7, 874.993]        380
(874.993, 1081.287]     292
(1081.287, 1287.58]     337
Name: count, dtype: int64

In [60]:
battles.head()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
Name: State, dtype: object

In [62]:
battles.value_counts()

State
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Massachusetts     11
Pennsylvania      10
North Carolina     9
Florida            8
Georgia            6
Connecticut        3
Rhode Island       3
Vermont            3
Indiana            1
New Hampshire      1
Louisiana          1
Delaware           1
Ohio               1
Name: count, dtype: int64

In [64]:
battles.value_counts(dropna = False). head()

State
NaN               70
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Name: count, dtype: int64

In [65]:
battles.index

DatetimeIndex(['1781-09-06', '1779-07-05', '1777-04-27', '1777-09-03',
               '1777-05-17', '1779-09-10', '1779-09-07', '1780-03-02',
               '1778-06-30', '1781-01-07',
               ...
               '1782-05-06', '1782-05-25', '1782-05-28', '1782-07-01',
               '1782-07-06', '1782-08-08', '1782-08-25', '1782-09-13',
               '1782-10-18', '1782-12-06'],
              dtype='datetime64[ns]', name='Start Date', length=232, freq=None)

In [66]:
battles.index.value_counts()

Start Date
1781-05-22    2
1780-05-25    2
1775-04-19    2
1777-08-22    2
1778-09-07    2
             ..
1782-08-08    1
1782-08-25    1
1782-09-13    1
1782-10-18    1
1782-12-06    1
Name: count, Length: 217, dtype: int64

## 3.5 Call the function of all Series values by using apply method

In [68]:
funcs = [len, max, min]

In [69]:
for current_func in funcs :
    print(current_func(google))

3824
1287.58
49.82

In [70]:
google

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

In [71]:
google.apply(round)

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64

In [72]:
def single_or_multi(pokemon_type) :
    if "/" in pokemon_type :
        return "Multi"

    return "Single"

In [73]:
single_or_multi(pokemon)

'Single'

In [75]:
pokemon.values

array(['Grass / Poison', 'Grass / Poison', 'Grass / Poison', 'Fire',
       'Fire', 'Fire / Flying', 'Water', 'Water', 'Water', 'Bug', 'Bug',
       'Bug / Flying', 'Bug / Poison', 'Bug / Poison', 'Bug / Poison',
       'Normal / Flying', 'Normal / Flying', 'Normal / Flying', 'Normal',
       'Normal', 'Normal / Flying', 'Normal / Flying', 'Poison', 'Poison',
       'Electric', 'Electric', 'Ground', 'Ground', 'Poison', 'Poison',
       'Poison / Ground', 'Poison', 'Poison', 'Poison / Ground', 'Fairy',
       'Fairy', 'Fire', 'Fire', 'Normal / Fairy', 'Normal / Fairy',
       'Poison / Flying', 'Poison / Flying', 'Grass / Poison',
       'Grass / Poison', 'Grass / Poison', 'Bug / Grass', 'Bug / Grass',
       'Bug / Poison', 'Bug / Poison', 'Ground', 'Ground', 'Normal',
       'Normal', 'Water', 'Water', 'Fighting', 'Fighting', 'Fire', 'Fire',
       'Water', 'Water', 'Water / Fighting', 'Psychic', 'Psychic',
       'Psychic', 'Fighting', 'Fighting', 'Fighting', 'Grass / Poison',
       'Grass / Poison', 'Grass / Poison', 'Water / Poison',
       'Water / Poison', 'Rock / Ground', 'Rock / Ground',
       'Rock / Ground', 'Fire', 'Fire', 'Water / Psychic',
       'Water / Psychic', 'Electric / Steel', 'Electric / Steel',
       'Normal / Flying', 'Normal / Flying', 'Normal / Flying', 'Water',
       'Water / Ice', 'Poison', 'Poison', 'Water', 'Water / Ice',
       'Ghost / Poison', 'Ghost / Poison', 'Ghost / Poison',
       'Rock / Ground', 'Psychic', 'Psychic', 'Water', 'Water',
       'Electric', 'Electric', 'Grass / Psychic', 'Grass / Psychic',
       'Ground', 'Ground', 'Fighting', 'Fighting', 'Normal', 'Poison',
       'Poison', 'Ground / Rock', 'Ground / Rock', 'Normal', 'Grass',
       'Normal', 'Water', 'Water', 'Water', 'Water', 'Water',
       'Water / Psychic', 'Psychic / Fairy', 'Bug / Flying',
       'Ice / Psychic', 'Electric', 'Fire', 'Bug', 'Normal', 'Water',
       'Water / Flying', 'Water / Ice', 'Normal', 'Normal', 'Water',
       'Electric', 'Fire', 'Normal', 'Rock / Water', 'Rock / Water',
       'Rock / Water', 'Rock / Water', 'Rock / Flying', 'Normal',
       'Ice / Flying', 'Electric / Flying', 'Fire / Flying', 'Dragon',
       'Dragon', 'Dragon / Flying', 'Psychic', 'Psychic', 'Grass',
       'Grass', 'Grass', 'Fire', 'Fire', 'Fire', 'Water', 'Water',
       'Water', 'Normal', 'Normal', 'Normal / Flying', 'Normal / Flying',
       'Bug / Flying', 'Bug / Flying', 'Bug / Poison', 'Bug / Poison',
       'Poison / Flying', 'Water / Electric', 'Water / Electric',
       'Electric', 'Fairy', 'Normal / Fairy', 'Fairy', 'Fairy / Flying',
       'Psychic / Flying', 'Psychic / Flying', 'Electric', 'Electric',
       'Electric', 'Grass', 'Water / Fairy', 'Water / Fairy', 'Rock',
       'Water', 'Grass / Flying', 'Grass / Flying', 'Grass / Flying',
       'Normal', 'Grass', 'Grass', 'Bug / Flying', 'Water / Ground',
       'Water / Ground', 'Psychic', 'Dark', 'Dark / Flying',
       'Water / Psychic', 'Ghost', 'Psychic', 'Psychic',
       'Normal / Psychic', 'Bug', 'Bug / Steel', 'Normal',
       'Ground / Flying', 'Steel / Ground', 'Fairy', 'Fairy',
       'Water / Poison', 'Bug / Steel', 'Bug / Rock', 'Bug / Fighting',
       'Dark / Ice', 'Normal', 'Normal', 'Fire', 'Fire / Rock',
       'Ice / Ground', 'Ice / Ground', 'Water / Rock', 'Water', 'Water',
       'Ice / Flying', 'Water / Flying', 'Steel / Flying', 'Dark / Fire',
       'Dark / Fire', 'Water / Dragon', 'Ground', 'Ground', 'Normal',
       'Normal', 'Normal', 'Fighting', 'Fighting', 'Ice / Psychic',
       'Electric', 'Fire', 'Normal', 'Normal', 'Electric', 'Fire',
       'Water', 'Rock / Ground', 'Rock / Ground', 'Rock / Dark',
       'Psychic / Flying', 'Fire / Flying', 'Psychic / Grass', 'Grass',
       'Grass', 'Grass', 'Fire', 'Fire / Fighting', 'Fire / Fighting',
       'Water', 'Water / Ground', 'Water / Ground', 'Dark', 'Dark',
       'Normal', 'Normal', 'Bug', 'Bug', 'Bug / Flying', 'Bug',
       'Bug / Poison', 'Water / Grass', 'Water / Grass', 'Water / Grass',
       'Grass', 'Grass / Dark', 'Grass / Dark', 'Normal / Flying',
       'Normal / Flying', 'Water / Flying', 'Water / Flying',
       'Psychic / Fairy', 'Psychic / Fairy', 'Psychic / Fairy',
       'Bug / Water', 'Bug / Flying', 'Grass', 'Grass / Fighting',
       'Normal', 'Normal', 'Normal', 'Bug / Ground', 'Bug / Flying',
       'Bug / Ghost', 'Normal', 'Normal', 'Normal', 'Fighting',
       'Fighting', 'Normal / Fairy', 'Rock', 'Normal', 'Normal',
       'Dark / Ghost', 'Steel / Fairy', 'Steel / Rock', 'Steel / Rock',
       'Steel / Rock', 'Fighting / Psychic', 'Fighting / Psychic',
       'Electric', 'Electric', 'Electric', 'Electric', 'Bug', 'Bug',
       'Grass / Poison', 'Poison', 'Poison', 'Water / Dark',
       'Water / Dark', 'Water', 'Water', 'Fire / Ground', 'Fire / Ground',
       'Fire', 'Psychic', 'Psychic', 'Normal', 'Ground',
       'Ground / Dragon', 'Ground / Dragon', 'Grass', 'Grass / Dark',
       'Normal / Flying', 'Dragon / Flying', 'Normal', 'Poison',
       'Rock / Psychic', 'Rock / Psychic', 'Water / Ground',
       'Water / Ground', 'Water', 'Water / Dark', 'Ground / Psychic',
       'Ground / Psychic', 'Rock / Grass', 'Rock / Grass', 'Rock / Bug',
       'Rock / Bug', 'Water', 'Water', 'Normal', 'Normal', 'Ghost',
       'Ghost', 'Ghost', 'Ghost', 'Grass / Flying', 'Psychic', 'Dark',
       'Psychic', 'Ice', 'Ice', 'Ice / Water', 'Ice / Water',
       'Ice / Water', 'Water', 'Water', 'Water', 'Water / Rock', 'Water',
       'Dragon', 'Dragon', 'Dragon / Flying', 'Steel / Psychic',
       'Steel / Psychic', 'Steel / Psychic', 'Rock', 'Ice', 'Steel',
       'Dragon / Psychic', 'Dragon / Psychic', 'Water', 'Ground',
       'Dragon / Flying', 'Steel / Psychic', 'Psychic', 'Grass', 'Grass',
       'Grass / Ground', 'Fire', 'Fire / Fighting', 'Fire / Fighting',
       'Water', 'Water', 'Water / Steel', 'Normal / Flying',
       'Normal / Flying', 'Normal / Flying', 'Normal', 'Normal / Water',
       'Bug', 'Bug', 'Electric', 'Electric', 'Electric', 'Grass / Poison',
       'Grass / Poison', 'Rock', 'Rock', 'Rock / Steel', 'Rock / Steel',
       'Bug', 'Bug / Grass', 'Bug / Flying', 'Bug / Flying',
       'Bug / Flying', 'Electric', 'Water', 'Water', 'Grass', 'Grass',
       'Water', 'Water / Ground', 'Normal', 'Ghost / Flying',
       'Ghost / Flying', 'Normal', 'Normal', 'Ghost', 'Dark / Flying',
       'Normal', 'Normal', 'Psychic', 'Poison / Dark', 'Poison / Dark',
       'Steel / Psychic', 'Steel / Psychic', 'Rock', 'Psychic / Fairy',
       'Normal', 'Normal / Flying', 'Ghost / Dark', 'Dragon / Ground',
       'Dragon / Ground', 'Dragon / Ground', 'Normal', 'Fighting',
       'Fighting / Steel', 'Ground', 'Ground', 'Poison / Bug',
       'Poison / Dark', 'Poison / Fighting', 'Poison / Fighting', 'Grass',
       'Water', 'Water', 'Water / Flying', 'Grass / Ice', 'Grass / Ice',
       'Dark / Ice', 'Electric / Steel', 'Normal', 'Ground / Rock',
       'Grass', 'Electric', 'Fire', 'Fairy / Flying', 'Bug / Flying',
       'Grass', 'Ice', 'Ground / Flying', 'Ice / Ground', 'Normal',
       'Psychic / Fighting', 'Rock / Steel', 'Ghost', 'Ice / Ghost',
       'Electric / Ghost', 'Psychic', 'Psychic', 'Psychic',
       'Steel / Dragon', 'Water / Dragon', 'Fire / Steel', 'Normal',
       'Ghost / Dragon', 'Psychic', 'Water', 'Water', 'Dark', 'Grass',
       'Normal', 'Psychic / Fire', 'Grass', 'Grass', 'Grass', 'Fire',
       'Fire / Fighting', 'Fire / Fighting', 'Water', 'Water', 'Water',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Dark', 'Dark',
       'Grass', 'Grass', 'Fire', 'Fire', 'Water', 'Water', 'Psychic',
       'Psychic', 'Normal / Flying', 'Normal / Flying', 'Normal / Flying',
       'Electric', 'Electric', 'Rock', 'Rock', 'Rock', 'Psychic / Flying',
       'Psychic / Flying', 'Ground', 'Ground / Steel', 'Normal',
       'Fighting', 'Fighting', 'Fighting', 'Water', 'Water / Ground',
       'Water / Ground', 'Fighting', 'Fighting', 'Bug / Grass',
       'Bug / Grass', 'Bug / Grass', 'Bug / Poison', 'Bug / Poison',
       'Bug / Poison', 'Grass / Fairy', 'Grass / Fairy', 'Grass', 'Grass',
       'Water', 'Ground / Dark', 'Ground / Dark', 'Ground / Dark', 'Fire',
       'Fire', 'Grass', 'Bug / Rock', 'Bug / Rock', 'Dark / Fighting',
       'Dark / Fighting', 'Psychic / Flying', 'Ghost', 'Ghost',
       'Water / Rock', 'Water / Rock', 'Rock / Flying', 'Rock / Flying',
       'Poison', 'Poison', 'Dark', 'Dark', 'Normal', 'Normal', 'Psychic',
       'Psychic', 'Psychic', 'Psychic', 'Psychic', 'Psychic',
       'Water / Flying', 'Water / Flying', 'Ice', 'Ice', 'Ice',
       'Normal / Grass', 'Normal / Grass', 'Electric / Flying', 'Bug',
       'Bug / Steel', 'Grass / Poison', 'Grass / Poison', 'Water / Ghost',
       'Water / Ghost', 'Water', 'Bug / Electric', 'Bug / Electric',
       'Grass / Steel', 'Grass / Steel', 'Steel', 'Steel', 'Steel',
       'Electric', 'Electric', 'Electric', 'Psychic', 'Psychic',
       'Ghost / Fire', 'Ghost / Fire', 'Ghost / Fire', 'Dragon', 'Dragon',
       'Dragon', 'Ice', 'Ice', 'Ice', 'Bug', 'Bug', 'Ground / Electric',
       'Fighting', 'Fighting', 'Dragon', 'Ground / Ghost',
       'Ground / Ghost', 'Dark / Steel', 'Dark / Steel', 'Normal',
       'Normal / Flying', 'Normal / Flying', 'Dark / Flying',
       'Dark / Flying', 'Fire', 'Bug / Steel', 'Dark / Dragon',
       'Dark / Dragon', 'Dark / Dragon', 'Bug / Fire', 'Bug / Fire',
       'Steel / Fighting', 'Rock / Fighting', 'Grass / Fighting',
       'Flying', 'Electric / Flying', 'Dragon / Fire',
       'Dragon / Electric', 'Ground / Flying', 'Dragon / Ice',
       'Water / Fighting', 'Normal / Psychic', 'Bug / Steel', 'Grass',
       'Grass', 'Grass / Fighting', 'Fire', 'Fire', 'Fire / Psychic',
       'Water', 'Water', 'Water / Dark', 'Normal', 'Normal / Ground',
       'Normal / Flying', 'Fire / Flying', 'Fire / Flying', 'Bug', 'Bug',
       'Bug / Flying', 'Fire / Normal', 'Fire / Normal', 'Fairy', 'Fairy',
       'Fairy', 'Grass', 'Grass', 'Fighting', 'Fighting / Dark', 'Normal',
       'Psychic', 'Psychic', 'Steel / Ghost', 'Steel / Ghost',
       'Steel / Ghost', 'Fairy', 'Fairy', 'Fairy', 'Fairy',
       'Dark / Psychic', 'Dark / Psychic', 'Rock / Water', 'Rock / Water',
       'Poison / Water', 'Poison / Dragon', 'Water', 'Water',
       'Electric / Normal', 'Electric / Normal', 'Rock / Dragon',
       'Rock / Dragon', 'Rock / Ice', 'Rock / Ice', 'Fairy',
       'Fighting / Flying', 'Electric / Fairy', 'Rock / Fairy', 'Dragon',
       'Dragon', 'Dragon', 'Steel / Fairy', 'Ghost / Grass',
       'Ghost / Grass', 'Ghost / Grass', 'Ghost / Grass', 'Ice', 'Ice',
       'Flying / Dragon', 'Flying / Dragon', 'Fairy', 'Dark / Flying',
       'Dragon / Ground', 'Rock / Fairy', 'Psychic / Ghost',
       'Fire / Water', 'Grass / Flying', 'Grass / Flying',
       'Grass / Ghost', 'Fire', 'Fire', 'Fire / Dark', 'Water', 'Water',
       'Water / Fairy', 'Normal / Flying', 'Normal / Flying',
       'Normal / Flying', 'Normal', 'Normal', 'Bug', 'Bug / Electric',
       'Bug / Electric', 'Fighting', 'Fighting / Ice', 'Fire / Flying',
       'Bug / Fairy', 'Bug / Fairy', 'Rock', 'Rock', 'Water',
       'Poison / Water', 'Poison / Water', 'Ground', 'Ground',
       'Water / Bug', 'Water / Bug', 'Grass', 'Grass', 'Grass / Fairy',
       'Grass / Fairy', 'Poison / Fire', 'Poison / Fire',
       'Normal / Fighting', 'Normal / Fighting', 'Grass', 'Grass',
       'Grass', 'Fairy', 'Normal / Psychic', 'Fighting', 'Bug / Water',
       'Bug / Water', 'Ghost / Ground', 'Ghost / Ground', 'Water',
       'Normal', 'Normal', 'Rock / Flying', 'Normal', 'Fire / Dragon',
       'Electric / Steel', 'Ghost / Fairy', 'Water / Psychic',
       'Normal / Dragon', 'Ghost / Grass', 'Dragon', 'Dragon / Fighting',
       'Dragon / Fighting', 'Electric / Fairy', 'Psychic / Fairy',
       'Grass / Fairy', 'Water / Fairy', 'Psychic', 'Psychic',
       'Psychic / Steel', 'Psychic / Ghost', 'Rock / Poison',
       'Bug / Fighting', 'Bug / Fighting', 'Electric', 'Steel / Flying',
       'Grass / Steel', 'Dark / Dragon', 'Psychic', 'Steel / Fairy',
       'Fighting / Ghost', 'Poison', 'Poison / Dragon', 'Rock / Steel',
       'Fire / Ghost', 'Electric', 'Steel', 'Steel'], dtype=object)

In [78]:
pokemon.apply(single_or_multi)

Pokemon
Bulbasaur       Multi
Ivysaur         Multi
Venusaur        Multi
Charmander     Single
Charmeleon     Single
                ...
Stakataka       Multi
Blacephalon     Multi
Zeraora        Single
Meltan         Single
Melmetal       Single
Name: Type, Length: 809, dtype: object

In [79]:
pokemon.apply(single_or_multi).value_counts()

Type
Multi     405
Single    404
Name: count, dtype: int64

## 3.6 Coding Challenge

In [125]:
import datetime as dt

In [126]:
pd.read_csv("revolutionary_war.csv")

                                Battle  Start Date          State
0                         Powder Alarm    9/1/1774  Massachusetts
1    Storming of Fort William and Mary  12/14/1774  New Hampshire
2     Battles of Lexington and Concord   4/19/1775  Massachusetts
3                      Siege of Boston   4/19/1775  Massachusetts
4                   Gunpowder Incident   4/20/1775       Virginia
..                                 ...         ...            ...
227                Siege of Fort Henry   9/11/1782       Virginia
228         Grand Assault on Gibraltar   9/13/1782            NaN
229          Action of 18 October 1782  10/18/1782            NaN
230          Action of 6 December 1782   12/6/1782            NaN
231          Action of 22 January 1783   1/22/1783       Virginia

[232 rows x 3 columns]

In [130]:
revolutionary = pd.read_csv("revolutionary_war.csv", usecols = ["Start Date"], parse_dates = ["Start Date"]).squeeze()

In [131]:
revolutionary

0     1774-09-01
1     1774-12-14
2     1775-04-19
3     1775-04-19
4     1775-04-20
         ...
227   1782-09-11
228   1782-09-13
229   1782-10-18
230   1782-12-06
231   1783-01-22
Name: Start Date, Length: 232, dtype: datetime64[ns]

In [134]:
def find_day_of_the_week(day) :
    return day.strftime("%A")

In [137]:
revolutionary.dropna().apply(find_day_of_the_week).value_counts()

Start Date
Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
Name: count, dtype: int64