## 13.1 Check and Change Pandas settings

In [1]:
import pandas as pd

In [2]:
happiness = pd.read_csv("happiness.csv")

In [3]:
happiness.head()

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
0,Finland,7.769,1.340,1.587,0.986,0.153
1,Denmark,7.600,1.383,1.573,0.996,0.252
2,Norway,7.554,1.488,1.582,1.028,0.271
3,Iceland,7.494,1.380,1.624,1.026,0.354
4,Netherlands,7.488,1.396,1.522,0.999,0.322

In [4]:
pd.describe_option("display.max_rows")

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

In [5]:
pd.describe_option("max_col")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 or None and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection and defaults to 20.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satisfy ``max_elements``, which takes precedence.
    [default: None] [currently: None]

In [6]:
pd.get_option("display.max_rows")

60

In [7]:
pd.options.display.max_rows

60

In [9]:
pd.set_option("display.max_rows", 6)

In [10]:
pd.options.display.max_rows = 6

In [11]:
pd.options.display.max_rows

6

In [15]:
happiness.head(7)

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
0,Finland,7.769,1.340,1.587,0.986,0.153
1,Denmark,7.600,1.383,1.573,0.996,0.252
2,Norway,7.554,1.488,1.582,1.028,0.271
...,...,...,...,...,...,...
4,Netherlands,7.488,1.396,1.522,0.999,0.322
5,Switzerland,7.480,1.452,1.526,1.052,0.263
6,Sweden,7.343,1.387,1.487,1.009,0.267

In [16]:
pd.get_option("display.max_columns")

20

In [17]:
pd.set_option("display.max_columns", 2)

In [19]:
pd.options.display.max_columns = 2

In [20]:
happiness.head(7)

        Country  ...  Generosity
0       Finland  ...       0.153
1       Denmark  ...       0.252
2        Norway  ...       0.271
..          ...  ...         ...
4   Netherlands  ...       0.322
5   Switzerland  ...       0.263
6        Sweden  ...       0.267

[7 rows x 6 columns]

In [21]:
pd.set_option('display.max_columns', 5)

In [22]:
happiness.head()

       Country  Score  ...  Life expectancy  Generosity
0      Finland  7.769  ...            0.986       0.153
1      Denmark  7.600  ...            0.996       0.252
2       Norway  7.554  ...            1.028       0.271
3      Iceland  7.494  ...            1.026       0.354
4  Netherlands  7.488  ...            0.999       0.322

[5 rows x 6 columns]

In [23]:
pd.reset_option('display.max_columns')

In [24]:
pd.reset_option('display.max_rows')

In [25]:
happiness.head()

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
0,Finland,7.769,1.340,1.587,0.986,0.153
1,Denmark,7.600,1.383,1.573,0.996,0.252
2,Norway,7.554,1.488,1.582,1.028,0.271
3,Iceland,7.494,1.380,1.624,1.026,0.354
4,Netherlands,7.488,1.396,1.522,0.999,0.322

## 13.2 Degree of precision

In [27]:
pd.describe_option('display.precision')

display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]

In [28]:
pd.set_option('display.precision', 2)

In [29]:
pd.options.display.precision = 2

In [30]:
happiness.head()

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
0,Finland,7.77,1.34,1.59,0.99,0.15
1,Denmark,7.60,1.38,1.57,1.00,0.25
2,Norway,7.55,1.49,1.58,1.03,0.27
3,Iceland,7.49,1.38,1.62,1.03,0.35
4,Netherlands,7.49,1.40,1.52,1.00,0.32

In [32]:
happiness.loc[0,'Score']

np.float64(7.769)

## 13.3 Maximum column width

In [33]:
pd.describe_option('display.max_colwidth')

display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]

In [35]:
pd.set_option('display.max_colwidth', 9)

In [36]:
happiness.tail()

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
151,Rwanda,3.33,0.36,0.71,0.61,0.22
152,Tanzania,3.23,0.48,0.89,0.50,0.28
153,Afgha...,3.20,0.35,0.52,0.36,0.16
154,Centr...,3.08,0.03,0.00,0.10,0.23
155,South...,2.85,0.31,0.57,0.29,0.20

## 13.4 Chop threshold

In [37]:
pd.describe_option('display.chop_threshold')

display.chop_threshold : float or None
    if set to a float value, all float values smaller than the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]

In [38]:
pd.set_option('display.chop_threshold', 0.25)

In [39]:
happiness.tail()

,Country,Score,GDP per capita,Social support,Life expectancy,Generosity
151,Rwanda,3.33,0.36,0.71,0.61,0.00
152,Tanzania,3.23,0.48,0.89,0.50,0.28
153,Afgha...,3.20,0.35,0.52,0.36,0.00
154,Centr...,3.08,0.00,0.00,0.00,0.00
155,South...,2.85,0.31,0.57,0.29,0.00

## 13.5 Option context

In [40]:
with pd.option_context(
    'display.max_columns', 5,
    'display.max_rows', 10,
    'display.precision', 3
) :
    display(happiness)

      Country  Score  ...  Life expectancy  Generosity
0     Finland  7.769  ...     0.986            0.000
1     Denmark  7.600  ...     0.996            0.252
2      Norway  7.554  ...     1.028            0.271
3     Iceland  7.494  ...     1.026            0.354
4    Nethe...  7.488  ...     0.999            0.322
..        ...    ...  ...       ...              ...
151    Rwanda  3.334  ...     0.614            0.000
152  Tanzania  3.231  ...     0.499            0.276
153  Afgha...  3.203  ...     0.361            0.000
154  Centr...  3.083  ...     0.000            0.000
155  South...  2.853  ...     0.295            0.000

[156 rows x 6 columns]