## 11.1 Timestamp Object

In [1]:
import datetime as dt
import pandas as pd

In [2]:
birthday = dt.date(1991, 4, 12)
birthday

datetime.date(1991, 4, 12)

In [3]:
birthday.year

1991

In [4]:
birthday.month

4

In [5]:
birthday.day

12

In [6]:
alarm_clock = dt.time(6, 43, 25)

In [7]:
alarm_clock

datetime.time(6, 43, 25)

In [8]:
dt.time()

datetime.time(0, 0)

In [9]:
dt.time(hour = 9, second = 42)

datetime.time(9, 0, 42)

In [10]:
alarm_clock.hour

6

In [11]:
alarm_clock.minute

43

In [12]:
alarm_clock.second

25

In [13]:
moon_landing = dt.datetime(1969, 7, 20, 22, 56, 29)
moon_landing

datetime.datetime(1969, 7, 20, 22, 56, 29)

In [14]:
dt.datetime(2020,1,1)

datetime.datetime(2020, 1, 1, 0, 0)

In [15]:
dt.timedelta(
    weeks = 8,
    days = 6,
    hours = 3,
    minutes =58,
    seconds = 12
)

datetime.timedelta(days=62, seconds=14292)

In [16]:
pd.Timestamp(1991,4,12)

Timestamp('1991-04-12 00:00:00')

In [17]:
pd.Timestamp(1991,4,12) == dt.datetime(1991,4,12)

True

In [18]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [19]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [20]:
pd.Timestamp("03/31/2015")

Timestamp('2015-03-31 00:00:00')

In [21]:
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [22]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

## 11.2 DatetimeIndex which save the multiple Timestamp

In [23]:
pd.Series([1,2,3]).index

RangeIndex(start=0, stop=3, step=1)

In [24]:
pd.Series([1,2,3], index = ["A", "B", "C"]).index

Index(['A', 'B', 'C'], dtype='object')

In [26]:
timestamps = [
    pd.Timestamp("2020-01-01"),
    pd.Timestamp("2020-02-01"),
    pd.Timestamp("2020-03-01"),
]

pd.Series([1,2,3], index = timestamps).index

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01'], dtype='datetime64[ns]', freq=None)

In [27]:
timestamps = [
    dt.datetime(2020,1,1),
    dt.datetime(2020,2,1),
    dt.datetime(2020,3,1),
]

pd.Series([1,2,3], index = timestamps).index

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01'], dtype='datetime64[ns]', freq=None)

In [29]:
string_dates = ["2018/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(string_dates)

DatetimeIndex(['2018-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [30]:
mixed_dates = [
    dt.date(2018, 1, 2),
    "2016/04/12",
    pd.Timestamp(2009, 9, 7)
]
dt_index = pd.DatetimeIndex(mixed_dates)
dt_index

DatetimeIndex(['2018-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [31]:
s = pd.Series(data = [100,200,300], index = dt_index)
s

2018-01-02    100
2016-04-12    200
2009-09-07    300
dtype: int64

In [32]:
s.sort_index()

2009-09-07    300
2016-04-12    200
2018-01-02    100
dtype: int64

In [33]:
morning = pd.Timestamp("2020-01-01 11:23:22 AM")
evening = pd.Timestamp("2020-01-01 11:23:22 PM")
morning < evening

True

## 11.3 Convert column or index values to date/time

In [39]:
disney = pd.read_csv("disney.csv", parse_dates = ["Date"])
disney

            Date        High         Low        Open       Close
0     1962-01-02    0.096026    0.092908    0.092908    0.092908
1     1962-01-03    0.094467    0.092908    0.092908    0.094155
2     1962-01-04    0.094467    0.093532    0.094155    0.094155
3     1962-01-05    0.094779    0.093844    0.094155    0.094467
4     1962-01-08    0.095714    0.092285    0.094467    0.094155
...          ...         ...         ...         ...         ...
14722 2020-06-26  111.199997  108.019997  110.949997  109.099998
14723 2020-06-29  111.570000  108.099998  109.000000  111.519997
14724 2020-06-30  112.050003  109.930000  111.500000  111.510002
14725 2020-07-01  115.599998  112.290001  112.820000  113.010002
14726 2020-07-02  115.099998  112.000000  115.000000  112.180000

[14727 rows x 5 columns]

In [40]:
disney.dtypes

Date     datetime64[ns]
High            float64
Low             float64
Open            float64
Close           float64
dtype: object

In [41]:
string_dates = ["2015-01-01", "2016-02-02", "2017-03-03"]
dt_index = pd.to_datetime(string_dates)
dt_index

DatetimeIndex(['2015-01-01', '2016-02-02', '2017-03-03'], dtype='datetime64[ns]', freq=None)

In [42]:
pd.to_datetime(disney["Date"]).head()

0   1962-01-02
1   1962-01-03
2   1962-01-04
3   1962-01-05
4   1962-01-08
Name: Date, dtype: datetime64[ns]

In [43]:
disney["Date"] = pd.to_datetime(disney["Date"])

In [44]:
disney.dtypes

Date     datetime64[ns]
High            float64
Low             float64
Open            float64
Close           float64
dtype: object

## 11.4 DatetimeProperties Object

In [45]:
disney["Date"].dt

In [46]:
disney["Date"].head()

0   1962-01-02
1   1962-01-03
2   1962-01-04
3   1962-01-05
4   1962-01-08
Name: Date, dtype: datetime64[ns]

In [47]:
disney["Date"].dt.day.head()

0    2
1    3
2    4
3    5
4    8
Name: Date, dtype: int32

In [48]:
disney["Date"].dt.month.head()

0    1
1    1
2    1
3    1
4    1
Name: Date, dtype: int32

In [49]:
disney["Date"].dt.year.head()

0    1962
1    1962
2    1962
3    1962
4    1962
Name: Date, dtype: int32

In [50]:
disney["Date"].dt.dayofweek.head()

0    1
1    2
2    3
3    4
4    0
Name: Date, dtype: int32

In [51]:
disney["Date"].dt.day_name().head()

0      Tuesday
1    Wednesday
2     Thursday
3       Friday
4       Monday
Name: Date, dtype: object

In [52]:
disney["Day of Week"] = disney["Date"].dt.day_name()

In [53]:
group = disney.groupby("Day of Week")

In [55]:
group.mean(True)

                  High        Low       Open      Close
Day of Week
Friday       23.767304  23.318898  23.552872  23.554498
Monday       23.377271  22.930606  23.161392  23.162543
Thursday     23.770234  23.288687  23.534561  23.540359
Tuesday      23.791234  23.335267  23.571755  23.562907
Wednesday    23.842743  23.355419  23.605618  23.609873

In [56]:
disney["Date"].dt.month_name().head()

0    January
1    January
2    January
3    January
4    January
Name: Date, dtype: object

In [57]:
disney["Date"].dt.is_quarter_start.tail()

14722    False
14723    False
14724    False
14725     True
14726    False
Name: Date, dtype: bool

In [59]:
disney[disney["Date"].dt.is_quarter_start].head()

          Date      High       Low      Open     Close Day of Week
189 1962-10-01  0.064849  0.062355  0.063913  0.062355      Monday
314 1963-04-01  0.087989  0.086704  0.087025  0.086704      Monday
377 1963-07-01  0.096338  0.095053  0.096338  0.095696      Monday
441 1963-10-01  0.110467  0.107898  0.107898  0.110467     Tuesday
565 1964-04-01  0.116248  0.112394  0.112394  0.116248   Wednesday

In [60]:
disney[disney["Date"].dt.is_quarter_end].head()

          Date      High       Low      Open     Close Day of Week
251 1962-12-31  0.074501  0.071290  0.074501  0.072253      Monday
440 1963-09-30  0.109825  0.105972  0.108541  0.107577      Monday
502 1963-12-31  0.101476  0.096980  0.097622  0.101476     Tuesday
564 1964-03-31  0.115605  0.112394  0.114963  0.112394     Tuesday
628 1964-06-30  0.101476  0.100191  0.101476  0.100834     Tuesday

In [61]:
disney[disney["Date"].dt.is_month_start].head()

          Date      High       Low      Open     Close Day of Week
22  1962-02-01  0.096338  0.093532  0.093532  0.094779    Thursday
41  1962-03-01  0.095714  0.093532  0.093532  0.095714    Thursday
83  1962-05-01  0.087296  0.085426  0.085738  0.086673     Tuesday
105 1962-06-01  0.079814  0.077943  0.079814  0.079814      Friday
147 1962-08-01  0.068590  0.068278  0.068590  0.068590   Wednesday

In [63]:
disney[disney["Date"].dt.is_month_end].head()

          Date      High       Low      Open     Close Day of Week
21  1962-01-31  0.093844  0.092908  0.093532  0.093532   Wednesday
40  1962-02-28  0.094779  0.093220  0.094155  0.093220   Wednesday
82  1962-04-30  0.087608  0.085738  0.087608  0.085738      Monday
104 1962-05-31  0.082308  0.079814  0.079814  0.079814    Thursday
146 1962-07-31  0.069214  0.068278  0.068278  0.068590     Tuesday

In [64]:
disney[disney["Date"].dt.is_year_start].head()

Empty DataFrame
Columns: [Date, High, Low, Open, Close, Day of Week]
Index: []

In [65]:
disney[disney["Date"].dt.is_year_end].head()

           Date      High       Low      Open     Close Day of Week
251  1962-12-31  0.074501  0.071290  0.074501  0.072253      Monday
502  1963-12-31  0.101476  0.096980  0.097622  0.101476     Tuesday
755  1964-12-31  0.117853  0.116890  0.116890  0.116890    Thursday
1007 1965-12-31  0.154141  0.150929  0.153498  0.152214      Friday
1736 1968-12-31  0.439301  0.431594  0.434163  0.436732     Tuesday

## 11.5 Addition and subtraction of a certain amount of time

In [66]:
pd.DateOffset(years = 3, months = 4, days = 5)

In [68]:
disney["Date"].head()

0   1962-01-02
1   1962-01-03
2   1962-01-04
3   1962-01-05
4   1962-01-08
Name: Date, dtype: datetime64[ns]

In [69]:
(disney["Date"] + pd.DateOffset(days = 5)).head()

0   1962-01-07
1   1962-01-08
2   1962-01-09
3   1962-01-10
4   1962-01-13
Name: Date, dtype: datetime64[ns]

In [70]:
(disney["Date"] - pd.DateOffset(days = 3)).head()

0   1961-12-30
1   1961-12-31
2   1962-01-01
3   1962-01-02
4   1962-01-05
Name: Date, dtype: datetime64[ns]

In [71]:
(disney["Date"] + pd.DateOffset(days = 10, hours = 6)).head()

0   1962-01-12 06:00:00
1   1962-01-13 06:00:00
2   1962-01-14 06:00:00
3   1962-01-15 06:00:00
4   1962-01-18 06:00:00
Name: Date, dtype: datetime64[ns]

In [72]:
(disney["Date"] - pd.DateOffset(years = 1, months =3, days = 10, hours = 6, minutes = 3)).head()

0   1960-09-21 17:57:00
1   1960-09-22 17:57:00
2   1960-09-23 17:57:00
3   1960-09-24 17:57:00
4   1960-09-27 17:57:00
Name: Date, dtype: datetime64[ns]

In [73]:
disney["Date"].tail()

14722   2020-06-26
14723   2020-06-29
14724   2020-06-30
14725   2020-07-01
14726   2020-07-02
Name: Date, dtype: datetime64[ns]

In [74]:
(disney["Date"] + pd.offsets.MonthEnd()).tail()

14722   2020-06-30
14723   2020-06-30
14724   2020-07-31
14725   2020-07-31
14726   2020-07-31
Name: Date, dtype: datetime64[ns]

In [75]:
(disney["Date"] - pd.offsets.MonthEnd()).tail()

14722   2020-05-31
14723   2020-05-31
14724   2020-05-31
14725   2020-06-30
14726   2020-06-30
Name: Date, dtype: datetime64[ns]

In [76]:
(disney["Date"] + pd.offsets.MonthBegin()).tail()

14722   2020-07-01
14723   2020-07-01
14724   2020-07-01
14725   2020-08-01
14726   2020-08-01
Name: Date, dtype: datetime64[ns]

In [77]:
(disney["Date"] - pd.offsets.MonthBegin()).tail()

14722   2020-06-01
14723   2020-06-01
14724   2020-06-01
14725   2020-06-01
14726   2020-07-01
Name: Date, dtype: datetime64[ns]

In [79]:
may_dates = ["2020-05-28", "2020-05-29", "2020-05-30"]
end_of_may = pd.Series(pd.to_datetime(may_dates))
end_of_may

0   2020-05-28
1   2020-05-29
2   2020-05-30
dtype: datetime64[ns]

In [80]:
end_of_may + pd.offsets.MonthEnd()

0   2020-05-31
1   2020-05-31
2   2020-05-31
dtype: datetime64[ns]

In [81]:
end_of_may + pd.offsets.BMonthEnd()

0   2020-05-29
1   2020-06-30
2   2020-06-30
dtype: datetime64[ns]

## 11.7 Timedelta Object

In [82]:
duration = pd.Timedelta(
    days = 8,
    hours = 7,
    minutes = 6,
    seconds = 5
)

duration

Timedelta('8 days 07:06:05')

In [83]:
pd.to_timedelta("3 hours, 5minutes, 12 seconds")

Timedelta('0 days 03:05:12')

In [84]:
pd.to_timedelta(5, unit = 'hour')

Timedelta('0 days 05:00:00')

In [86]:
pd.to_timedelta([5,10,15], unit = 'day')

TimedeltaIndex(['5 days', '10 days', '15 days'], dtype='timedelta64[ns]', freq=None)

In [87]:
pd.Timestamp('1999-02-05') - pd.Timestamp('1998-05-24')

Timedelta('257 days 00:00:00')

In [89]:
deliveries = pd.read_csv("deliveries.csv")
deliveries.head()

  order_date delivery_date
0    5/24/98        2/5/99
1    4/22/92        3/6/98
2    2/10/91       8/26/92
3    7/21/92      11/20/97
4     9/2/93       6/10/98

In [90]:
deliveries["order_date"] = pd.to_datetime(deliveries["order_date"])
deliveries["delivery_date"] = pd.to_datetime(deliveries["delivery_date"])

C:\Users\gjdbs\AppData\Local\Temp\ipykernel_27980\1063909292.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  deliveries["order_date"] = pd.to_datetime(deliveries["order_date"])
C:\Users\gjdbs\AppData\Local\Temp\ipykernel_27980\1063909292.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  deliveries["delivery_date"] = pd.to_datetime(deliveries["delivery_date"])

In [92]:
deliveries.head()

  order_date delivery_date
0 1998-05-24    1999-02-05
1 1992-04-22    1998-03-06
2 1991-02-10    1992-08-26
3 1992-07-21    1997-11-20
4 1993-09-02    1998-06-10

In [93]:
for column in ["order_date", "delivery_date"] :
    deliveries[column] = pd.to_datetime(deliveries[column])

In [94]:
deliveries.head()

  order_date delivery_date
0 1998-05-24    1999-02-05
1 1992-04-22    1998-03-06
2 1991-02-10    1992-08-26
3 1992-07-21    1997-11-20
4 1993-09-02    1998-06-10

In [96]:
(deliveries["delivery_date"] - deliveries["order_date"]).head()

0    257 days
1   2144 days
2    563 days
3   1948 days
4   1742 days
dtype: timedelta64[ns]

In [98]:
deliveries["duration"] = deliveries["delivery_date"] - deliveries["order_date"]

In [99]:
deliveries.head()

  order_date delivery_date  duration
0 1998-05-24    1999-02-05  257 days
1 1992-04-22    1998-03-06 2144 days
2 1991-02-10    1992-08-26  563 days
3 1992-07-21    1997-11-20 1948 days
4 1993-09-02    1998-06-10 1742 days

In [100]:
deliveries.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
duration         timedelta64[ns]
dtype: object

In [101]:
(deliveries["delivery_date"] - deliveries["duration"]).head()

0   1998-05-24
1   1992-04-22
2   1991-02-10
3   1992-07-21
4   1993-09-02
dtype: datetime64[ns]

In [102]:
(deliveries["delivery_date"] + deliveries["duration"]).head()

0   1999-10-20
1   2004-01-18
2   1994-03-12
3   2003-03-22
4   2003-03-18
dtype: datetime64[ns]

In [103]:
deliveries.sort_values("duration")

    order_date delivery_date  duration
454 1990-05-24    1990-06-01    8 days
294 1994-08-11    1994-08-20    9 days
10  1998-05-10    1998-05-19    9 days
499 1993-06-03    1993-06-13   10 days
143 1997-09-20    1997-10-06   16 days
..         ...           ...       ...
152 1990-09-18    1999-12-19 3379 days
62  1990-04-02    1999-08-16 3423 days
458 1990-02-13    1999-11-15 3562 days
145 1990-03-07    1999-12-25 3580 days
448 1990-01-20    1999-11-12 3583 days

[501 rows x 3 columns]

In [104]:
deliveries["duration"].max()

Timedelta('3583 days 00:00:00')

In [105]:
deliveries["duration"].min()

Timedelta('8 days 00:00:00')

In [106]:
deliveries["duration"].mean()

Timedelta('1217 days 22:53:53.532934128')

In [107]:
(deliveries["duration"] > pd.Timedelta(days = 365)).head()

0    False
1     True
2     True
3     True
4     True
Name: duration, dtype: bool

In [111]:
(deliveries["duration"] > "365 days").head()

0    False
1     True
2     True
3     True
4     True
Name: duration, dtype: bool

In [114]:
deliveries[(deliveries["duration"] > "365 days")].head()

  order_date delivery_date  duration
1 1992-04-22    1998-03-06 2144 days
2 1991-02-10    1992-08-26  563 days
3 1992-07-21    1997-11-20 1948 days
4 1993-09-02    1998-06-10 1742 days
6 1990-01-25    1994-10-02 1711 days

In [116]:
long_time = (
    deliveries["duration"] > "2000 days, 8 hours, 4 minutes"
)
deliveries[long_time].head()

   order_date delivery_date  duration
1  1992-04-22    1998-03-06 2144 days
7  1992-02-23    1998-12-30 2502 days
11 1992-10-17    1998-10-06 2180 days
12 1992-05-30    1999-08-15 2633 days
15 1990-01-20    1998-07-24 3107 days

## 11.8 Coding Challenge

In [117]:
citi_bike = pd.read_csv("citibike.csv")
citi_bike.head()

                 start_time                 stop_time
0  2020-06-01 00:00:03.3720  2020-06-01 00:17:46.2080
1  2020-06-01 00:00:03.5530  2020-06-01 01:03:33.9360
2  2020-06-01 00:00:09.6140  2020-06-01 00:17:06.8330
3  2020-06-01 00:00:12.1780  2020-06-01 00:03:58.8640
4  2020-06-01 00:00:21.2550  2020-06-01 00:24:18.9650

In [119]:
citi_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1882273 entries, 0 to 1882272
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   start_time  object
 1   stop_time   object
dtypes: object(2)
memory usage: 28.7+ MB

In [120]:
citi_bike["start_time"] = pd.to_datetime(citi_bike["start_time"])
citi_bike["stop_time"] = pd.to_datetime(citi_bike["stop_time"])

In [121]:
citi_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1882273 entries, 0 to 1882272
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   start_time  datetime64[ns]
 1   stop_time   datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 28.7 MB

In [122]:
citi_bike.head()

               start_time               stop_time
0 2020-06-01 00:00:03.372 2020-06-01 00:17:46.208
1 2020-06-01 00:00:03.553 2020-06-01 01:03:33.936
2 2020-06-01 00:00:09.614 2020-06-01 00:17:06.833
3 2020-06-01 00:00:12.178 2020-06-01 00:03:58.864
4 2020-06-01 00:00:21.255 2020-06-01 00:24:18.965

In [126]:
citi_bike["day_of_week"] = citi_bike["start_time"].dt.day_name()

In [127]:
citi_bike.head()

               start_time               stop_time day_of_week
0 2020-06-01 00:00:03.372 2020-06-01 00:17:46.208      Monday
1 2020-06-01 00:00:03.553 2020-06-01 01:03:33.936      Monday
2 2020-06-01 00:00:09.614 2020-06-01 00:17:06.833      Monday
3 2020-06-01 00:00:12.178 2020-06-01 00:03:58.864      Monday
4 2020-06-01 00:00:21.255 2020-06-01 00:24:18.965      Monday

In [128]:
citi_bike.value_counts("day_of_week")

day_of_week
Tuesday      305833
Sunday       301482
Monday       292690
Saturday     285966
Friday       258479
Wednesday    222647
Thursday     215176
Name: count, dtype: int64

In [136]:
def day_to_week (dt) :
    if dt.day <= 7 :
        return 1
    elif dt.day <= 14 :
        return 2
    elif dt.day <= 21 :
        return 3
    elif dt.day <= 28 :
        return 4
    else :
        return 5

In [138]:
citi_bike["week"] = citi_bike["start_time"].apply(day_to_week)

In [140]:
citi_bike.value_counts("week")

week
3    481211
2    471384
4    465412
1    337590
5    126676
Name: count, dtype: int64

In [141]:
days_away_from_monday = citi_bike["start_time"].dt.dayofweek

In [143]:
dates_rounded_to_monday = citi_bike["start_time"] - pd.to_timedelta(days_away_from_monday, unit = 'day')

In [145]:
dates_rounded_to_monday.dt.date.value_counts().head()

start_time
2020-06-15    481211
2020-06-08    471384
2020-06-22    465412
2020-06-01    337590
2020-06-29    126676
Name: count, dtype: int64

In [146]:
citi_bike["duration"] = citi_bike["stop_time"] - citi_bike["start_time"]

In [147]:
citi_bike.head()

,start_time,stop_time,day_of_week,week,duration
0,2020-06-01 00:00:03.372,2020-06-01 00:17:46.208,Monday,1,0 days 00:17:42.836000
1,2020-06-01 00:00:03.553,2020-06-01 01:03:33.936,Monday,1,0 days 01:03:30.383000
2,2020-06-01 00:00:09.614,2020-06-01 00:17:06.833,Monday,1,0 days 00:16:57.219000
3,2020-06-01 00:00:12.178,2020-06-01 00:03:58.864,Monday,1,0 days 00:03:46.686000
4,2020-06-01 00:00:21.255,2020-06-01 00:24:18.965,Monday,1,0 days 00:23:57.710000

In [157]:
citi_bike["duration"].mean()

Timedelta('0 days 00:27:19.590506853')

In [161]:
citi_bike["duration"].nlargest(5)

50593    32 days 15:01:54.940000
98339    31 days 01:47:20.632000
52306    30 days 19:32:20.696000
15171    30 days 04:26:48.424000
149761   28 days 09:24:50.696000
Name: duration, dtype: timedelta64[ns]